<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <link rel="stylesheet"type="text/css" href="./css/example.css">
    <script src="https://kit.fontawesome.com/d5f4cbca7a.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- 
<ol>
    <li>HTML</li>
    <li>CSS</li>
    <ul>
    <li>JavaScript</li>
    <li>Bootstrap</li>
    </ul>
    <li>ReactJs</li>
</ol> -->

<dl>
    <dt>Frontend</dt>
    <dd>HTML,CSS,JS,ReactJs</dd>
</dl>
    <!-- <h1>our services</h1>
    <section>
        <table>
            <tbody>
                <tr>
                    <td>
                            <div>
                                <i class="fa-solid fa-money-bill-1 icon1"></i>
                                <h1>PHASELLUS</h1>
                                <hr>
                                
                            </div>
                    </td>
                    <td>
                        <div>
                            <i class="fa-brands fa-whatsapp"></i>
                           
                        </div>
                </td>
                <td>
                    <div>
                        <i class="fa-solid fa-money-bill-1"></i>
                    </div>
            </td>
            <td>
                <div>
                    <i class="fa-solid fa-money-bill-1"></i>
                </div>
        </td>
        </tr>
        <tr>
            <td>
                    <div>
                        <i class="fa-solid fa-money-bill-1"></i>
                    </div>
            </td>
            <td>
                <div>
                    <i class="fa-solid fa-money-bill-1"></i>
                </div>
        </td>
        <td>
            <div>
                <i class="fa-solid fa-money-bill-1"></i>
            </div>
    </td>
    <td>
        <div>
            <i class="fa-solid fa-money-bill-1"></i>
        </div>
</td>
</tr>

    </table>
    </section>
     -->
</body>
</html>